@font-face {
    font-family: 'Fjalla One';
    src: url(../[fonts]/Fjalla_One/FjallaOne-Regular.ttf) format('truetype');
}

@font-face {
    font-family: 'Lato Regular';
    src: url(../[fonts]/Lato/Lato-Regular.ttf) format('truetype');
}

@font-face {
    font-family: 'Lato Black';
    src: url(../[fonts]/Lato/Lato-Black.ttf) format('truetype');
}

body {
    margin: 0 auto;
    width: 100%;
    height: auto;
    background: url(../[pictures]/Background/light.png) no-repeat top center,
                url(../[pictures]/Background/bck.png);
}
/*--------HEADER---------*/
.header {
    width: 1170px;
    height: 320px;
    margin: 0 auto;
    margin-top: 97px;   
}

.header__logo {
    width: 500px;
    height: 220px;
    margin: 0 auto;
    background-color: rgb(231, 204, 0);
}

.header__logo-link {
    width: 220px;
    display: block;
    margin: 20px auto;
    text-decoration: none;
}

.header__logo-link:hover {
    cursor: pointer;
}

.header__logo-img {
    display: block;
    margin: 0 auto;
    padding-top: 33px;
}

.header__logo-name {
    font-family: 'Fjalla One';
    font-size: 41px;
    color: rgb(39, 41, 70);
    text-transform: uppercase;
    line-height: 1.2;
    text-align: center;
    margin-top: 12px;
    word-spacing: -3px;
    letter-spacing: 0.15px;
}

.header__menu {
    width: 1170px;
    height: 100px;
    margin: 0 auto;
    background-color: rgb(231, 204, 0);
}

.header__nav {
    width: 502px;
    height: 98px;
    margin: 0 auto;
}

.header__nav a {
    width: 98px;
    height: 98px;
    display: block;
    float: left;
    background-color: #dec400;
    border: 2px solid #e8d64d;
    border-right: none;
    border-bottom: none;
    text-decoration: none;
    font-size: 16px;
    font-family: "Fjalla One";
    color: rgb(49, 51, 82);
    text-transform: uppercase;
    line-height: 98px;
    text-align: center;  
    letter-spacing: 0.05px;
}

.header__nav-contact {
    border-right: 2px solid #e8d64d !important;
}

.header__nav a:hover, .main__middle input:hover {
    cursor: pointer;
    background-color: #91831c86;
}
/*--------MAIN---------*/
.main {
    width: 1170px;
    height: 1389.5px;
    margin: 0 auto;
}

.main__preview {
    height: 379.5px;
}

.main__aside1, .main__aside2, .main__middle, .main__about, .main__history, .main__user {
    height: 379.5px;
    width: 335px;
    float: left;
}

.main__middle, .main__history {
    width: 500px;
}

.main__bird, .main__jesus, .main__church, .main__glass {
    height: 189.7px;
    background-color: #313352;
}

.main__middle {
    background: url(../[pictures]/Tile/cross.png) no-repeat;
}

.main__jesus, .main__church {
    background-color: #272946;
}

.main__preview .main__search {
    background-color: #5a5c75;
    height: 34px;
    width: 34px;
    margin-left: 301px; 
    margin-bottom: 23px; 
}

.main__preview .main__search:hover {
    cursor: pointer;
    background-color: #2c4d5a2c;
}

.main__preview i {
    font-size: 18px;
    color: #adaeba;
    font-family: "FontAwesome"; 
    display: block;
    padding: 8px;
}

.main__preview img {
    margin-left: 32px;
    width: 50px;
    height: 50px;
} 

.main__jesus img {
    margin-left: 30px;
    height: 52px;
    width: 60px;
}

.main__church img {
    margin-left: 28px;
    height: 52px;
    width: 40px;
}

.main__glass img {
    margin-left: 32px;
    height: 50px;
    width: 28px;
    margin-top: -2px;
}

.main__preview p {
    font-size: 15px;
    font-family: 'Lato Regular';
    color: rgb(231, 204, 0);
    line-height: 1.2;
    word-spacing: 1.5px;
    letter-spacing: -1px;
    margin-top: 3px;
    padding-left: 30px;
}

.main__preview h2 {
    font-size: 22px;
    font-family: "Fjalla One";
    color: rgb(231, 204, 0);
    text-transform: uppercase;
    line-height: 1.2;
    word-spacing: -1px;
    letter-spacing: 0.6px;
    margin-top: -10px;
    padding-left: 28px;    
}

.main__jesus p, .main__church p{
    margin-top: 1px;
    padding-left: 30px;
    word-spacing: -1px;
    letter-spacing: -0.6px;
}

.main__glass p {
    margin-top: 5px;
    padding-left: 30px;
    letter-spacing: -0.9px;
}

.main__middle .main__slogan {
    height: 150px;
    width: 300px;
    vertical-align: bottom;
    margin: 0 auto;
    margin-top: 255px;
}

.main__middle h2, .main__middle h3 {
    font-size: 22px;
    font-family: "Fjalla One";
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    line-height: 1.2;
    text-align: center;
    display: block;
    margin: 0 auto;
    word-spacing: -0.8px;
    letter-spacing: 0.5px;
    padding-left: 2px;
}

.main__middle h3 {
    font-size: 18px;
    margin-top: 3px;
}

.main__middle input {
    background-color: #e7cc00;
    width: 90px;
    height: 36px;
    font-size: 15px;
    font-family: "Fjalla One";
    color: rgb(39, 41, 70);
    border: none;
    margin: 9px 105px;     
}

.main__info {
    height: 1010px;
}

.main__about, .main__history, .main__user {
    height: 1010px;
}

.main__history {
    background-color: rgb(231, 204, 0);
}

.main__history h2 {
    font-size: 24px;
    font-family: "Fjalla One";
    color: rgb(49, 51, 82);
    text-transform: uppercase;
    line-height: 1.2; 
    letter-spacing: -0.5px;
    margin-bottom: 0px;
    height: 23px;
}

.main__history p {
    font-size: 14px;
    font-family: "Lato";
    color: rgb(81, 84, 110);
    line-height: 1.6; 
    margin-bottom: 21px;  
}

.main__egestas, .main__fusce, .main__donec {
    margin: 40px 35px;   
    width: 431px;
    height: 292px;
    border-bottom: 1px solid #ae9a41;
    margin-bottom: 30px;
}

.main__egestas-img {
    float: left;
    overflow: hidden;
    height: 120px;
    width: 130px;
    margin-right: 30px;
}

.main__egestas img {
    height: 170px;
    width: 170px;
    margin: -13px;
}

.main__egestas p+p {
    margin-bottom: 17px;
} 

.main__about h2, .main__user h2 {
    font-size: 24px;
    font-family: "Fjalla One";
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    line-height: 1.2;
}

.main__info h4 {
    font-size: 14px;
    font-family: "Lato";
    color: rgb(231, 204, 0);
    text-decoration: underline;
    line-height: 1.714; 
    margin-top: 22px;  
    margin-bottom: 10px; 
}

.main__about p, .main__user span, .main__user input, tr td:last-child, .main__user-message {
    font-size: 14px;
    font-family: "Lato";
    color: rgb(119, 121, 134);
    line-height: 1.571;   
}

.main__date {
    height: 70px;
    width: 70px;
    float: left;
    margin: 3px 20px 0 0;
}

.main__date span:first-child {
    display: block;
    height: 40px; 
    width: 70px;
    background-color: #313352;
    color: #e7cc00;
    text-align: center;
    font-size: 23px;
    font-family: "Fjalla One";
    text-transform: uppercase;
    line-height: 1.9;    
}

.main__date span:last-child {
    display: block;
    height: 30px; 
    width: 70px;
    background-color: #e7cc00;
    color: #313352;
    text-align: center;
    font-size: 12px;
    font-family: "Lato";
    line-height: 2.4;     
}

.main__aug {
    width: 300px;
    height: 157px;
    border-bottom: 1px solid #262033;
}

.main__aug p {
    margin: 12px 0 -2px 0;
}

.main__konec h2 {
    margin-top: 28px;
    letter-spacing: -0.6px;
    word-spacing: 0.5px;
}

.main__aug08 h4, .main__aug09 h4 {
    margin-top: 27px;
}

.main__contacts h2 {
    font-size: 23px;
    margin-top: 10px;
    color: #e7cc00;
    margin-bottom: 14px;
}

table {
    height: 100px;
    width: 300px;
    border-collapse: collapse;
}

tr {
    border-bottom: 1px solid #262033;
}

tr:last-child {
    border: none;
}

tr td:first-child {
    width: 20px;
    height: 32px;
    border-right: 1px solid #262033;
}

tr td:last-child {
    padding-left: 13px;
}

.main__history input {
    height: 35px;
    width: 80px;
    font-size: 14px;
    font-family: "Fjalla One";
    color: rgb(231, 204, 0);
    text-transform: uppercase;
    line-height: 1.714;  
    background-color: #313352; 
    border: none;   
}

.main__info i {
    color: #e7cc00;
    font-size: 14px;
    font-family: "FontAwesome";
    text-transform: uppercase;
    line-height: 1.2;     
}

td a {
    text-decoration: none; 
}

td a:hover {
    cursor: pointer;
    color: #e7cc00;
}

.main__history input:hover {
    cursor: pointer;
    background-color: #5a5c7565;
}

.main__fusce, .main__donec {
    margin-top: 10px;
    height: 220px;
}

.main__fusce p {
    margin-top: 18px;
}

.main__fusce input {
    margin-top: 5px;
}

.main__donec {
    border: none;
}

.main__donec p {
    margin-top: 23px;
    margin-bottom: 16px;

}

.main__donec h2 {
    margin-top: -3px;
    margin-bottom: 20px;
}

.main__user-search, .main__user-konec, .main__user-morbin {
    width: 300px;
    margin-left: 34px;
}

.main__user input, .main__user-message{
    background-color: transparent;
    border: 2px solid #313352;
}

.main__user-search  h2{
    margin: 28px 0 15px 0;
    letter-spacing: -0.5px;
}

.main__user-search input {
    height: 40px;
    width: 300px;
    padding-left: 9px;
}

.main__user-search i {
    position: relative;
    top: -30px;
    left: 275px;
    font-size: 18px;
}

.main__user-konec  h2, .main__user-morbin h2 {
    margin: 17px 0 21px 0;
    letter-spacing: -0.67px;
    word-spacing: 1px;
}

.main__user-konec span {
    display: block;
    width: 300px;
    height: 35px;
    border-bottom: 1px solid #262033;
}

.main__user-konec span:last-child {
    border: none;
}

.main__user-morbin h2 {
    margin: 22px 0 26px 0;
}

.main__user-form input, .main__user-message {
    height: 35px;
    width: 288px;
    margin-bottom: 19px;
    padding-left: 9px;
}

.main__user-message {
    padding-top: 7px;
    height: 136px;
    margin-bottom: 17px;
}

.main__user-morbin button {
    height: 40px;
    width: 100px;
    font-size: 18px;
    font-family: "Fjalla One";
    color: rgb(49, 51, 82);
    text-transform: uppercase;
    line-height: 1.333;  
    background-color: #e7cc00;
    border: none;
    padding: 4px 0 0 2px;   
}

.main__user-morbin button:hover {
    cursor: pointer;
    background-color: #ae9a41;
}
/*--------FOOTER---------*/
.footer {
    width: 1170px;
    height: 115px;
    margin: 0 auto;
    
}

.footer p, .footer h2 {
    font-size: 15px;
    font-family: 'Fjalla One';
    color: rgb(119, 121, 134);
    line-height: 1.733;
    text-align: center;
    margin: 0;
}

.footer p:first-child {
    padding-top: 24px;
}

.footer p:nth-child(2) {
    display: block;
    height: 16px;
}

.footer h2 {
    font-size: 22px;
    letter-spacing: 1.3px;
    color: rgb(231, 204, 0);
}